<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <center>
  <h3 style="font-size:32px;">Register Here</h3>
  {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <p style="background-color:rgb(183, 2, 2);color:white;padding:10px;width:fit-content;border-radius:5px;font-weight:700;">{{ message }}</p>
            {% elif message.tags == 'info' %}
            <p style="background-color:rgb(0, 134, 152);color:white;padding:10px;width:fit-content;border-radius:5px;font-weight:700;">{{ message }}</p>
            {% elif message.tags == 'success' %}
            <p style="background-color:rgb(0, 152, 61);color:white;padding:10px;width:fit-content;border-radius:5px;font-weight:700;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
  <form action="/check_register/" method="post">
      <table style="background-color: rgb(49, 49, 49);padding:10px;border-radius:10px;">
        <tr>
            <td style="color:white;font-size:24px;">Email:</td>
            <td><input type="email" name="email" placeholder="Enter Email Here" style="font-size:24px;"></td>
        </tr>
        <tr>
            <td style="color:white;font-size:24px;">Password:</td>
            <td><input type="password" name="password" placeholder="Enter Password Here" style="font-size:24px;"></td>
        </tr>
        
       
        <tr>
           <td><input type="submit" name="submit" value="Register" style="font-size:24px;padding: 5px 10px;"></td>
           <td><p style="color:white;font-size:24px;">Already a user? <a href="/" style="font-size:24px;text-decoration:none;color:cornflowerblue;">Login Here</a></p></td>
        </tr>
      </table>
  </form>
  
  </center>
</body>
</html>